@use "typography";
.bkg-color {
	background: var(--color-bkg);
}
.navlogo {
	display: flex;
	align-items: center;
	color: var(--color-primary);
	&__logo {
		width: 2.625rem;
		height: 2.625rem;
	}
	&__name {
		& > span {
			display: none;
		}
	}
}
.navmenu {
	color: var(--color-primary);
	position: relative;
	&__btn {
		font-size: 2rem;
		line-height: 0;
		cursor: pointer;
		display: block;
	}
	&__items {
		border: 1px solid;
		position: absolute;
		right: 0;
		bottom: -1rem;
		transform: translateY(100%);
		padding: 1rem;
		display: none;
		flex-direction: column;
		row-gap: 8px;
		overflow: hidden;
		z-index: 10;
		background-color: var(--color-bkg);
	}
}
.hamburger {
	&__line {
		transition: y 300ms ease-in 300ms, transform 300ms ease-in,
			opacity 0ms 300ms;
		transform-origin: center;
	}
}
.hero {
	position: relative;
	z-index: 0;
	margin-bottom: 6rem;
	&__title-top {
		position: absolute;
		font-size: 4rem;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		z-index: 2;
		line-height: 1;
		color: var(--color-primary);
	}
	&__img {
		position: relative;
		z-index: 1;
		width: 100%;
		margin-block: 2.6rem 3.5rem;
	}
	&__title-center {
		position: absolute;
		top: 50%;
		right: -1rem;
		z-index: 2;
		background: rgba(255, 241, 241, 0.5);
		width: fit-content;
		padding: 1.25rem 0.75rem;
	}
	&__title-bottom {
		position: absolute;
		z-index: 2;
		font-size: 6rem;
		bottom: 0rem;
		right: -1rem;
		line-height: 0.8;
		color: var(--color-primary);
		mix-blend-mode: difference;
	}
}
